.u-section-1 {background-image: url("../images/Canvanull.jpg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 871px}
.u-section-1 .u-text-1 {font-size: 3.75rem; letter-spacing: 0; font-weight: 700; margin: 152px 629px 0 0}
.u-section-1 .u-text-2 {font-size: 2.25rem; margin: 7px 538px 0 0}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 158px; min-width: 94px; margin: 18px auto 0 0}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%}
.u-section-1 .u-icon-4 {height: 100%}
.u-section-1 .u-layout-wrap-1 {margin: 30px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 342px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-5 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-3 {font-size: 1.5rem; text-transform: uppercase; margin: 30px 0 0}
.u-section-1 .u-text-4 {font-style: italic; margin: 20px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 342px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-6 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-5 {font-size: 1.5rem; text-transform: uppercase; margin: 30px 0 0}
.u-section-1 .u-text-6 {font-style: italic; margin: 20px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 342px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-7 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-7 {font-size: 1.5rem; text-transform: uppercase; margin: 30px 0 0}
.u-section-1 .u-text-8 {font-style: italic; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 718px}
.u-section-1 .u-text-1 {margin-right: 429px}
.u-section-1 .u-text-2 {margin-right: 338px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 282px}
.u-section-1 .u-layout-cell-2 {min-height: 282px}
.u-section-1 .u-layout-cell-3 {min-height: 282px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 550px}
.u-section-1 .u-text-1 {margin-right: 209px}
.u-section-1 .u-text-2 {margin-right: 118px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 413px}
.u-section-1 .u-text-1 {margin-right: 29px}
.u-section-1 .u-text-2 {margin-right: 0}
.u-section-1 .u-layout-wrap-1 {margin-top: 38px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 260px}
.u-section-1 .u-text-1 {margin-right: 0} }.u-section-2 .u-sheet-1 {min-height: 177px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 60px 20px 0}
.u-section-2 .u-text-2 {margin: 20px 72px 60px 92px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0} }.u-section-3 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 3396px}
.u-section-3 .u-layout-wrap-1 {width: 1212px; margin: 0 auto 0 0}
.u-section-3 .u-image-1 {min-height: 542px; background-image: url("../images/DataGathering.jpg")}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 542px}
.u-section-3 .u-container-layout-2 {padding: 30px 60px}
.u-section-3 .u-text-1 {margin: 0}
.u-section-3 .u-text-2 {font-size: 1.5rem; margin: 20px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 589px}
.u-section-3 .u-container-layout-3 {padding: 30px 60px}
.u-section-3 .u-text-3 {margin: 0}
.u-section-3 .u-text-4 {font-size: 1.5rem; margin: 20px 0 0}
.u-section-3 .u-image-2 {min-height: 589px; background-image: url("../images/dataprocessing.jpg")}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-layout-wrap-2 {width: 1237px; margin: 30px auto 0 0}
.u-section-3 .u-image-3 {min-height: 643px; background-image: url("../images/DataMining.jpg")}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-layout-cell-6 {min-height: 643px}
.u-section-3 .u-container-layout-6 {padding: 30px}
.u-section-3 .u-text-5 {margin: 110px auto 0 0}
.u-section-3 .u-text-6 {font-size: 1.5rem; margin: 20px 67px 0 0}
.u-section-3 .u-layout-cell-7 {min-height: 463px}
.u-section-3 .u-container-layout-7 {padding: 30px}
.u-section-3 .u-text-7 {margin: 0 auto 0 0}
.u-section-3 .u-text-8 {margin-left: 0; margin-right: auto; font-size: 1.5rem}
.u-section-3 .u-image-4 {min-height: 463px; background-image: url("../images/ProcessMining.jpg")}
.u-section-3 .u-container-layout-8 {padding: 30px}
.u-section-3 .u-layout-wrap-3 {margin-top: -20px; margin-bottom: 60px}
.u-section-3 .u-layout-cell-9 {min-height: 570px}
.u-section-3 .u-container-layout-9 {padding: 30px}
.u-section-3 .u-image-5 {width: 528px; height: 463px; margin: 0 auto}
.u-section-3 .u-layout-cell-10 {min-height: 570px}
.u-section-3 .u-container-layout-10 {padding: 30px}
.u-section-3 .u-text-9 {margin: 0 auto 0 0}
.u-section-3 .u-text-10 {margin-left: 0; margin-right: auto; font-size: 1.5rem}
.u-section-3 .u-layout-cell-11 {min-height: 482px}
.u-section-3 .u-container-layout-11 {padding: 30px}
.u-section-3 .u-text-11 {margin: 0 auto 0 0}
.u-section-3 .u-text-12 {margin-left: 0; margin-right: auto; font-size: 1.5rem}
.u-section-3 .u-image-6 {min-height: 521px; background-image: url("../images/Automation.jpg")}
.u-section-3 .u-container-layout-12 {padding: 30px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 552px}
.u-section-3 .u-sheet-1 {min-height: 552px}
.u-section-3 .u-layout-wrap-1 {min-height: 331px; width: 940px}
.u-section-3 .u-image-1 {min-height: 359px; background-position: 50% 50%}
.u-section-3 .u-layout-cell-2 {min-height: 359px}
.u-section-3 .u-layout-cell-3 {min-height: 444px}
.u-section-3 .u-image-2 {min-height: 444px; background-position: 50% 50%}
.u-section-3 .u-layout-wrap-2 {position: relative; width: 940px}
.u-section-3 .u-image-3 {min-height: 472px}
.u-section-3 .u-layout-cell-6 {min-height: 472px}
.u-section-3 .u-text-6 {margin-right: 0}
.u-section-3 .u-layout-cell-7 {min-height: 360px}
.u-section-3 .u-image-4 {min-height: 360px; background-position: 50% 50%}
.u-section-3 .u-layout-cell-9 {min-height: 470px}
.u-section-3 .u-image-5 {width: 410px; height: 360px}
.u-section-3 .u-layout-cell-10 {min-height: 470px}
.u-section-3 .u-layout-cell-11 {min-height: 397px}
.u-section-3 .u-image-6 {min-height: 430px} }

@media (max-width: 991px){ .u-section-3 {min-height: 426px}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-image-1 {min-height: 275px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-2 {width: auto; margin-right: -29px; margin-left: -18px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-image-2 {min-height: 340px}
.u-section-3 .u-layout-wrap-2 {width: 720px}
.u-section-3 .u-image-3 {min-height: 362px}
.u-section-3 .u-layout-cell-6 {min-height: 100px}
.u-section-3 .u-layout-cell-7 {min-height: 100px}
.u-section-3 .u-image-4 {min-height: 276px}
.u-section-3 .u-layout-cell-9 {min-height: 100px}
.u-section-3 .u-image-5 {width: 300px; height: 263px}
.u-section-3 .u-layout-cell-10 {min-height: 100px}
.u-section-3 .u-layout-cell-11 {min-height: 100px}
.u-section-3 .u-image-6 {min-height: 329px} }

@media (max-width: 767px){ .u-section-3 {min-height: 4257px}
.u-section-3 .u-sheet-1 {min-height: 3064px}
.u-section-3 .u-layout-wrap-1 {min-height: 1204px; width: 540px}
.u-section-3 .u-image-1 {min-height: 470px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {min-height: 478px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-2 {margin-top: 20px; width: 540px}
.u-section-3 .u-image-3 {min-height: 525px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {min-height: 365px}
.u-section-3 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-3 {margin-top: 20px}
.u-section-3 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-6 {min-height: 463px}
.u-section-3 .u-container-layout-12 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 {min-height: 3406px}
.u-section-3 .u-sheet-1 {min-height: 2213px}
.u-section-3 .u-layout-wrap-1 {min-height: 853px; width: 340px}
.u-section-3 .u-image-1 {min-height: 296px}
.u-section-3 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-3 .u-image-2 {min-height: 301px}
.u-section-3 .u-layout-wrap-2 {width: 340px}
.u-section-3 .u-image-3 {min-height: 331px}
.u-section-3 .u-image-4 {min-height: 230px}
.u-section-3 .u-image-6 {min-height: 292px} }